body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.book-library {
    width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.book {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 5px;
}

.book img {
    width: 200px;
}

.book p {
    color: rgb(119, 119, 119); /* REQUIRED */
}

.price {
    background-color: rgb(46, 204, 113); /* REQUIRED */
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px;
}



